:root {
  --font-xxl: 32px;
  --font-xl: 24px;
  --font-l: 22px;
  --font-m: 18px;
  --font-s: 16px;
  --font-xs: 14px;
  --font-xxs: 12px;

  --font-bold: 800;
  --font-semibold: 700;
  --font-regular: 400;
}
