@use "fonts";
@use "reset";
@use "typography";
@use "variables";
@use "layout";
@use "components";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // outline: 1px solid red;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  background: var(--bg-primary);
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px auto 1fr;
  gap: 24px;

  @media (width > 478px) {
    gap: 48px;
  }
}
